body {
  margin: 0;
  font-family: "Andale Mono", monospace;
  background: linear-gradient(89deg, #04dea8 0%, #f8f7f8 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
